

/* Tallennan tähän sivustolla käytettävät värit*/
.class {
    background-color:
     #00B060 #218457 #00733E #36D88E  #61D8A2
     #FF9500	#BF8430 #A66100, #FFB040 #FFC573
     #DE0052 #A62A58 #900035 #EE3C7E #EE6B9C;
}

.container {
    background-color: #61D8A2;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
}

footer {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #00733E;
    text-align: center;
}
