body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

/* Tallennan tähän sivustolla käytettävät värit*/
.class {
    background-color:
     #00B060 #218457 #00733E #36D88E  #61D8A2
     #FF9500	#BF8430 #A66100, #FFB040 #FFC573
     #DE0052 #A62A58 #900035 #EE3C7E #EE6B9C;
}

.container {
    background-color: rgb(162, 243, 207);
    background-image: url(images/chris-liverani-ViEBSoZH6M4-unsplash.jpg);
    background-size: cover;
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 45px;
    padding: 20px;
    height: 500px;
}

h3 {
    padding-top: 45px;
}

p {
    padding: 30px 120px 15px 120px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ace0c4;
    text-align: center;
    padding: 10px;
}

.fa-carrot {
    color: orange; 
}

.fa-brain {
    color: rgb(255, 183, 219);
}

.navbar-brand {
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
    color: orange;
    padding-bottom: 20px;
    padding-left: 10px;
}

h1 {
    padding-top: 30px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

#startPage {
    padding: 20px;
}

#startExercise {
    padding: 50px;
}

.content {
    background-color: #eefffc;
    padding: 20px;
    min-height: 400px;
    height: auto;
    margin: 30px;
    box-shadow: 0px 0px 15px 3px rgb(139, 207, 212) ;
}

.progress {
    margin-top: 8px;
    box-shadow: 0px 0px 15px 3px rgb(139, 207, 212) ;
}

.btn-primary {
    background-color: #3aaf6f; 
    border: rgb(0, 38, 255);
    transition: none;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(51, 197, 117); 
}

input {
    text-align: center;
}

span {
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    p {
        padding: 20px 50px 10px 50px;
        min-height: auto;
        font-size: 17px;
    }

    .container {
        height: 560px;
    }

    .content {
        min-height: 460px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    p {
        padding: 20px 40px 10px 40px;
        min-height: auto;
        font-size: 17px;
    }

    .container {
        height: 560px;
    }

    .content {
        min-height: 460px;
        height: auto;
    }
}
    

@media screen and (max-width: 505px) {
    p {
        padding: 20px 30px 10px 30px;
        min-height: auto;
        font-size: 16px;
    }

    .container {
        height: 600px;
    }

    .content {
        min-height: 500px;
        height: auto;
    }
    

}