body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar*/
.navbar-brand {
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
    color: orange;
    padding-bottom: 20px;
    padding-left: 10px;
}

/* porkkanalogon väri oranssiksi*/
.fa-carrot {
    color: orange; 
}

h1 {
    padding-top: 30px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

p {
    padding: 30px 120px 15px 120px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

span {
    font-weight: bold;
}

input {
    text-align: center;
}



/* Sivun tehtäväsisältö */
.container {
    height: 500px;
    background-color: rgb(162, 243, 207);
    background-image: url(images/chris-liverani-ViEBSoZH6M4-unsplash.jpg);
    background-size: cover;
    background-blend-mode: screen;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 45px;
    padding: 20px;
}

.content {
    background-color: #eefffc;
    padding: 20px;
    min-height: 400px;
    height: auto;
    margin: 30px;
    box-shadow: 0px 0px 15px 3px rgb(139, 207, 212) ;
    padding-top: 35px;
}

/* Progressbar */
.progress {
    margin-top: 8px;
    box-shadow: 0px 0px 15px 3px rgb(139, 207, 212) ;
}

/* Painikkeet */
.btn-primary {
    background-color: #3aaf6f; 
    border: rgb(0, 38, 255);
    transition: none;
}

/* Painikkeille eri värinen tausta kun viedään hiiri päälle tai on painettuna*/
.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(51, 197, 117); 
}

/* Ensimmäiselle sivulle */
#startPage {
    padding: 20px;
}

/* Aloita testi -painike */
#startExercise {
    padding: 50px;
}

/* Vähemmän paddingia yhdelle diviä jossa on enemmän tekstiä */
#lessPadding {
    padding-top: 20px;
}

/* alku- ja loppudiveille enemmän paddingia ylös koska ei tarvi niin paljon tilaa alas */
#startContent, #endContent {
    padding-top: 60px;
}

footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ace0c4;
    text-align: center;
    padding: 10px;
}

/* Responsiivisuus */
@media screen and (max-width: 991px) {
    p {
        padding: 20px 50px 10px 50px;
        min-height: auto;
        font-size: 17px;
    }

    .container {
        height: 560px;
    }

    .content {
        min-height: 460px;
        height: auto;
        padding-top: 75px;
    }

    #lessPadding {
        padding-top: 50px;
    }

    #startContent, #endContent {
        padding-top: 90px;
    }
}

@media screen and (max-width: 768px) {
    p {
        padding: 20px 40px 10px 40px;
        min-height: auto;
        font-size: 17px;
    }

    .container {
        height: 560px;
    }

    .content {
        min-height: 460px;
        height: auto;
    }

    #lessPadding {
        padding-top: 20px;
    }
}
    

@media screen and (max-width: 505px) {
    p {
        padding: 20px 30px 10px 30px;
        min-height: auto;
        font-size: 16px;
    }

    .container {
        height: 600px;
    }

    .content {
        min-height: 500px;
        height: auto;
    }
}