body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}


/*Navbar*/
.fa-carrot {
    color: orange; 
}

.navbar-brand {
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
    color: orange;
    padding-bottom: 20px;
    padding-left: 10px;
}


/*Tehtäväosio*/
main {
    background-color: #ffb64977;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    margin: 25px;
    border-radius: 5px;
    border: 3px dashed orange;
    padding: 30px;
    font-family: 'Neucha';
    font-size: 1.1em;
}

.progress-bar {
    height: 100%;
}

.progress {
    width: 75vw;
    height: 30px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    max-width: 800px;
}

.container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    background-color: #ffb64965;
    height: auto;
    width: auto;
    padding: 65px;
    margin-top: 25px;
    box-shadow: 0px 0px 13px 5px #a7762c65;
}

#startTest, #tryAgain {
    background-color: #ffb649;
    border-color: #fa9a0a;
}

#Q1, #Q2, #Q3, #Q4, #Q5, #results {
    display: none;
}

input {
    width: 20em;
    height: 2.5em;
    border: 2px solid #00733E;
    border-radius: 10px;
    margin-bottom: 6px;
    text-align: center;
}

.wideButtons {
    display: block;
    width: 20em;
    background-color: #2d9466;
    border: 2px solid #00733E;
    border-radius: 10px;
    color: white;
    margin-bottom: 2px;
    padding: 2.5px;
}

.wideButtons:disabled {
    background-color: #2d946696;
}

#results {
    background-color: #ffb64965;
    height: auto;
    width: auto;
    padding: 65px;
    margin-top: 25px;
    box-shadow: 0px 0px 13px 5px #a7762c65;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

#zeroPoints, #onePoint, #twoPoints, #threePoints, #fourPoints, #fivePoints {
    width: 30em;
    display: none;
}


/*Alatunniste*/
footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ace0c4;
    text-align: center;
    padding: 10px;
}


/*Responsiivisuus*/
@media screen and (max-width: 578px) {
    #info {
        width: 100%;
    }
}

@media screen and (max-width: 515px) {
    .wideButtons {
        width: 98%;
    }

    input {
        width: 98%;
    }
}

@media screen and (max-width: 400px) {
    main {
        margin: 20px 0px 20px 0px;
        border-radius: 0;
    }

    .progress {
        width: 95vw;
    }
}