label {
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#Q2, #Q3, #Q4, #Q5, #results {
    display: none;
}

button {
    display: block;
    width: 20em;
    background-color: #6ec6dc;
    border: 2px solid #43afca;
    border-radius: 10px;
    color: white;
    margin-bottom: 0.2em;
    padding: 2.5px;
}

input {
    width: 20em;
    height: 2.5em;
    border: 2px solid #43afca;
    border-radius: 10px;
    margin-bottom: 0.5em;
    text-align: center;
}